.settings
target
target/
/target
.classpath
.project
pom.xml
*.class
*.lst
target/classes/plugin.yml
*.class
*.class
target/classes/plugin.yml
*.lst
target/classes/com/acpsoldier/acpfood/food/FoodManager.class
target/classes/com/acpsoldier/acpfood/food/foods/Sugar.class
target/classes/plugin.yml
*.class
target/classes/com/acpsoldier/acpfood/food/FoodManager.class
*.class
target/classes/com/acpsoldier/acpfood/food/FoodManager.class
*.class